DADOS/ filter=lfs diff=lfs merge=lfs -text
dados/ filter=lfs diff=lfs merge=lfs -text
C:/Users/Gabli/Downloads/tratamento[[:space:]]de[[:space:]]dados/tratamento_de_dados_enem/DADOS/microdados_enem_2019.parquet filter=lfs diff=lfs merge=lfs -text
.parquet filter=lfs diff=lfs merge=lfs -text
DADOS/microdados_enem_2019.parquet filter=lfs diff=lfs merge=lfs -text
